@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  } 
}

@layer components { 
  input, button {
    border: 1px solid #00000025;
    border-radius: 4px;
    padding: 0px 4px 0px 4px;
  }

  input[type=submit], button:hover {
    background-color: #dfdfdf;
  }
}